<div class="row justify-content-md-center bg-electric-blue">
	<div class="col-md-8">
		<div class="masthead">
			<div class="inner">
			  <nav role="navigation" class="nav nav-masthead">
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="/talks.html">Watch</a>
				<a class="nav-link" href="#">Join us</a>
				<a class="nav-link" href="#">About</a>
				<a class="nav-link" href="/blog">Blog</a>
				<a class="nav-link" href="/code-of-conduct">Code of Conduct</a>
			  </nav>
			</div>
		</div>
	</div>
</div>
